<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Appointments</title>
    <link rel="stylesheet" href="/css/lilliputSalon.css" />
</head>

<body class="page-gradient">

<header>
    <div th:replace="~{fragments/customer-nav :: customerNav}"></div>
</header>

<main class="services-layout">

   
    <h2>Upcoming Appointments</h2>

<div th:if="${#lists.isEmpty(upcomingAppointments)}">
    <p>You don’t have any appointments yet.</p>
    <a class="btn btn-secondary" href="/schedule">Schedule an Appointment</a>
</div>


<div th:each="appt : ${upcomingAppointments}"
     class="glass-card home-card">

    <h3 th:text="${#temporals.format(appt.scheduledStartDateTime, 'MMMM d, yyyy h:mm a')}"></h3>
    <div class="accent-line"></div>

    <p class="subtext">
        Stylist:
        <span th:text="${stylistNames[appt.appointmentId]}"></span>
    </p>

    <p class="subtext">Services:</p>
    <ul class="service-list">
	    <li th:each="as : ${servicesByAppt[appt.appointmentId]}"
	        th:text="${as.service.name}">
	    </li>
	</ul>

</div>
    
    <h2 style="margin-top:40px;">Past Appointments</h2>

<div th:if="${#lists.isEmpty(pastAppointments)}">
    <p class="subtext">No past appointments.</p>
</div>

<div th:each="appt : ${pastAppointments}"
     class="glass-card home-card">

    <h3 th:text="${#temporals.format(appt.scheduledStartDateTime, 'MMMM d, yyyy h:mm a')}"></h3>
    <div class="accent-line"></div>

    <p class="subtext">
        Stylist:
        <span th:text="${stylistNames[appt.appointmentId]}"></span>
    </p>

    <p class="subtext">Services:</p>
    <ul class="service-list">
	    <li th:each="as : ${servicesByAppt[appt.appointmentId]}"
	        th:text="${as.service.name}">
	    </li>
	</ul>

</div>
    



</main>

</body>
</html>
